

{% extends "userbase.html" %}


{% block formUsed %}


{% load crispy_forms_tags %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}


  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-primary" type="submit" value="Login">
    <a  class="btn btn-primary=" href="{% url 'register' %}">Sign up</a>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {% endblock %}

  